! special
*.foreground:   #bcbcbc
*.background:   #272822
*.cursorColor:  #bcbcbc

! black
*.color0:       #75715e
*.color8:       #75715e

! red
*.color1:       #e01b1b
*.color9:       #e01b1b

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #f9f8f5
*.color15:      #f9f8f5

URxvt.transparent: true 
URxvt.shading: 25

URxvt*font: xft:MesloLGS NF-12
URxvt*letterspace: -1
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000
URxvt*iso14755: false
URxvt.iso14755_52: false


URxvt*perl-ext-common: default ,tabbedex
URxvt*keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt*keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt*keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right
URxvt*tabbedex.tabbar-fg: 15
URxvt*tabbedex.tabbar-bg: 236
URxvt*tabbedex.tab-fg: 110
URxvt*tabbedex.tab-bg: 236
URxvt*tabbedex.transparent:true
URxvt*tabbedex.new-button: false

