!   ---      ---   /-----       /-----                    
!   \  \    /  /  |      |     |      |             
!    \  \  /  /    ---   |      ---   |                                
!     \  \/  /       |   |        |   |                       
!      \    /        |   |        |   |                      
!      /    \        |   |        |   |                   
!     /  /\  \       |   |        |   |                
!    /  /  \  \    --|   |--    --|   |--              
!   /  /    \  \  |         |  |         |               
!   ---      ---   ---------    ---------                 
!
!
!

!  Background: #1d2021
*.background: #282828
! Background: #32302f
*.foreground: #ebdbb2

! Black + DarkGrey
*.color0:  #282828
*.color8:  #928374
! DarkRed + Red
*.color1:  #cc241d
*.color9:  #fb4934
! DarkGreen + Green
*.color2:  #98971a
*.color10: #b8bb26
! DarkYellow + Yellow
*.color3:  #d79921
*.color11: #fabd2f
! DarkBlue + Blue
*.color4:  #458588
*.color12: #83a598
! DarkMagenta + Magenta
*.color5:  #b16286
*.color13: #d3869b
! DarkCyan + Cyan
*.color6:  #689d6a
*.color14: #8ec07c
! LightGrey + White
*.color7:  #a89984
*.color15: #ebdbb2

URxvt*font: xft:MesloLGS NF-12
!URxvt*font: xft:Hack Nerd Font-12 
!URxvt*font: xft:Fira Code-12
!URxvt*font: xft: FuraMono Nerd Font:size=12

*antialias: true
*autohint: true

URxvt*letterspace: -2
URxvt.transparent: true
URxvt.shading: 20
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000
URxvt*iso14755: false
URxvt.iso14755_52: false











! Old theme created by myself 
! special
!*.foreground:   #bcbcbc
!*.background:   #272822
!*.cursorColor:  #bcbcbc
!
!! black
!*.color0:       #75715e
!*.color8:       #75715e
!
!! red
!*.color1:       #e01b1b
!*.color9:       #e01b1b
!
!! green
!*.color2:       #a6e22e
!*.color10:      #a6e22e
!
!! yellow
!*.color3:       #f4bf75
!*.color11:      #f4bf75
!
!! blue
!*.color4:       #66d9ef
!*.color12:      #66d9ef
!
!! magenta
!*.color5:       #ae81ff
!*.color13:      #ae81ff
!
!! cyan
!*.color6:       #2aa198
!*.color14:      #2aa198
!
!! white
!*.color7:       #f9f8f5
!*.color15:      #f9f8f5
